<style>
  {% if section.settings.logo != blank %}
    .site-header__logo-image {
      max-width: {{ section.settings.logo_max_width }}px;
    }
  {% endif %}
</style>
<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <header class="page-width grid--uniform" role="banner">
    {% if template.name == 'index' %}
      <h1 class="grid__item one-third" itemscope itemtype="http://schema.org/Organization">
    {% else %}
      <div class="h1 grid__item one-third" itemscope itemtype="http://schema.org/Organization">
    {% endif %}
        <a href="/" itemprop="url" class="site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
          {% if section.settings.logo != blank %}
            {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
            <img src="{{ section.settings.logo | img_url: image_size }}"
                 srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                 alt="{{ section.settings.logo.alt | default: shop.name }}"
                 itemprop="logo">
          {% else %}
            {{ shop.name }}
          {% endif %}
        </a>
    {% if template.name == 'index' %}
      </h1>
    {% else %}
      </div>
    {% endif %}

    <nav class="grid__item one-third" role="navigation">
      <ul class="parent">
        {% for link in linklists[section.settings.main_linklist].links %}
          {% if link.links != blank %}
            <li {% if link.active %} class="active {% if link.child_active %}child-active{% endif %}"{% endif %}>
              <a href="{{ link.url }}">{{ link.title | escape }}</a>
              <ul class="child">
                {% for childlink in link.links %}
                  {% if childlink.links != blank %}
                    <li {% if childlink.active %} class="active {% if childlink.child_active %}child-active{% endif %}"{% endif %}>
                      <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                      <ul class="grandchild">
                        {% for grandchildlink in childlink.links %}
                          <li {% if grandchildlink.active %} class="active {% if grandchildlink.child_active %}child-active{% endif %}"{% endif %}>
                            <a href="{{ grandchildlink.url }}">{{ grandchildlink.title | escape }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% else %}
                    <li {% if childlink.active %} class="active {% if childlink.child_active %}child-active{% endif %}"{% endif %}>
                      <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li {% if link.active %} class="active {% if link.child_active %}child-active{% endif %}"{% endif %}>
              <a href="{{ link.url }}">{{ link.title | escape }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

    <div class="search-cart grid__item one-third">

      <form action="/search" method="get" role="search">
        <label for="Search" class="label-hidden">
          {{ 'general.search.placeholder' | t }}
        </label>

        <input type="search"
               id="search2"
               name="q"
               size="20"
               value="{{ search.terms | escape }}"
               placeholder="{{ 'general.search.placeholder' | t }}">
        </input>

        <a id="showhide" class="closed">
              <div id="link">
                {% include 'icon-search' %}

                <input type="search"
                       id="search2"
                       name="q"
                       size="20"
                       value="{{ search.terms | escape }}"
                       placeholder="{{ 'general.search.placeholder' | t }}">
                </input>
              </div>

        </a>

      </form>

      <a href="/cart">
        {% include 'icon-bag' %}
        <!-- {{ 'layout.cart.title' | t }} -->

        {{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }} / {{ cart.total_price }}
      </a>

      {% if shop.customer_accounts_enabled %}
        <ul>
          {% if customer %}
            <li>
              {% if customer.first_name != blank %}
                {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
              {% else %}
                <a href="/account">{{ 'layout.customer.account' | t }}</a>
              {% endif %}
            </li>
            <li>
              {{ 'layout.customer.log_out' | t | customer_logout_link }}
            </li>
          {% else %}
            <li>
              {{ 'layout.customer.log_in' | t | customer_login_link }}
            </li>
            <li>
              {{ 'layout.customer.create_account' | t | customer_register_link }}
            </li>
          {% endif %}
        </ul>
      {% endif %}

    </div>

  </header>


</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}
